.contacto {   

    background-image: linear-gradient(#051e22, #5a944d);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    &__texto {

        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        h2{

            font-size: 60px;
            font-weight: 700;
            font-family: $fuente;
            color: $colorFontAlt;
        }
        p{

            font-size: 25px;
            font-family: $fuente;
            color: $colorFontAlt;
        }
    }
}

#casillaMail {

    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    width: 500px;
    height: 350px;
    background-color: $colorBG;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $boxShadow;
    .inputMail{

        border-radius: 15px;
        height: 40px;
        width: 350px;
        font-size: 2rem;
    }
    .inputEnviar {

        border-radius: 5px;
        margin-top: 10px;
        width: 120px;
        height: 30px;
        font-size: 2rem;
        border-style: none;
        background-color: #5a944d;
    }
    label {

        font-size: 4rem;
        font-weight: bold;
    }
}

@media (max-width: $movil){

    .contacto {   

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        &__texto {

            h2{

                font-size: 50px;
            }
        }
    }

    #casillaMail {

        grid-row: 2/3;
        justify-self: center;
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .inputMail{

            width: 250px;
        }
    }
}