.pie {

    padding-top: 20px;
    background-color: $colorBG;
    color: $colorFont;
    font-size: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    padding-bottom: 20px;
    &__texto{

        grid-column: 2/3;
        text-align: center;
        font-family: $fuente;
        font-size: 4rem;
    }
    &__links {

        grid-column: 1/2;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h5{
            font-size: 3rem;
            color: $colorFont;
            font-weight: 700;
            font-family: $fuente;
        }
        li a {

            text-decoration: none;
            color: $colorFont;
            font-size: 2rem;
            font-weight: 700px;
            font-family: $fuente;
            &:hover {

                color: $colorHover;
            }
        }
    }
    &__fix{

        padding-bottom: 3px;
    }
    &__contacto {

        grid-column: 3/4;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-family: $fuente;
        h5{
            font-size: 3rem;
            color: $colorFont;
            font-weight: 700;
            font-family: $fuente;
        }
        &__style{

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            font-size: 3rem;
        }
        
    }
    img{

        width: 32px;
        height: 32px;
    }

}

@media (max-width: $movil){

    .pie{

        font-size: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        &__texto{

            grid-row: 1/2;
            grid-column: 1/2;
        }
        &__links{

            display: none;
        }
        &__contacto{

            grid-column: 1/2;

            grid-row: 2/3;
        }
    }
}

@media (min-width: 481px ) and (max-width:$tablet) {

    .pie{

        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        &__texto{

            grid-row: 1/2;
            grid-column: 1/2;
        }
        &__links{

            display: none;
        }
        &__contacto{

            grid-column: 1/2;

            grid-row: 2/3;
        }
    }
}