.header {

    background-color: $colorBG;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 70px;
    align-items: center;
    &__titulo{

        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{

            height: 60px;
            width: 50px;
            padding-left: 3px;
        }
        h1 {

            font-family:'Satisfy', cursive;
            font-weight: 600;
            color: #212121;
            display: none;
            padding-left: 3px;

        }

    }

    &__nav{

        grid-column: 2/3;
        &__links{
            display: flex;
            justify-content: space-around;
            a {

                text-decoration: none;
                font-size: 2.3rem;
                font-weight: 700;
                color: $colorFont;
                font-family:'Hind Madurai', sans-serif;
                &:hover{
                    color: $colorHover;
                }
            }
        }

        &Movil{

            display: none;
        }
    }
}

.fixBs {

    margin: 0 0 0 0;
    padding: 0 0 0 0;
    h1{

        padding-bottom: 4px;
        padding-top: 12px;
    }
}

#marca {

    text-decoration: underline $colorFont;
}

@media (max-width: $movil) {

    .header {

        padding-top: 1px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 80px;
        &__titulo{

            display: flex;
            justify-content: center;
            img{

                display: none;
            }
            h1{

                font-size: 3rem;
                display: block;
            }
        }
        &__nav{

            grid-column: 1/2;
            &__links{

                display: none;
            }
        &Movil {

            grid-row: 2/3;
            display: flex;
            justify-content: space-around;
            &__style{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{

                    width: 40px;
                    height: 40px;
                }
                p{

                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }


        }
    }

}

@media (min-width: 481px ) and (max-width:$tablet) {

    .header {

        padding-top: 1px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 80px;
        &__titulo{

            display: flex;
            justify-content: center;
            img{

                display: none;
            }
            h1{

                font-size: 3rem;
                display: block;
            }
        }
        &__nav{

            grid-column: 1/2;
            &__links{

                display: none;
            }
        &Movil {

            grid-row: 2/3;
            display: flex;
            justify-content: space-around;
            &__style{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{

                    width: 60px;
                    height: 60px;
                }
                p{

                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }


        }
    }


}