.inicio{

    background-image: url(../img/index\ img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    &__texto{

        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        h2{

            color: $colorFontAlt;
            text-align: center;
            font-family: $fuente;
            font-size: 50px;
            font-weight: 700;

        }
        a{

            color: $colorFontAlt;
            width: 450px;
            text-align: center;
            font-size: 35px;
            text-decoration: none;
            font-family: $fuente;
            font-weight: 700;
            border-style: solid;
            border-width: 0.5px;
            border-radius: 20px;
            &:hover {

                background-color: $colorFontAlt;
                color:$colorFont;
                border-style: none;
                opacity: 85%;
            }
        }



    }
   
}

.productos{

    background-color: #322d29;
    display: grid;
    grid-column: 1fr;
    grid-row: 200px auto;
    padding-bottom: 100px;
    border-top: #3c5f51;
    border-top-style: solid;
    gap: 10px;
    h3 {

        position: relative;
        text-align: center;
        font-size: 45px;
        color: $colorFontAlt;
        padding: 40px;
        font-family: $fuente;
        font-weight: 700;
    }
    img {
    
        width: 400px;
        height: 310px;
        border-radius: 5px;
    }
    &__destacados{

        display: flex;
        gap: 25px;
        justify-content: center;
        &__style{

            background-color: #d1c7bd;
            border-radius: 15px;
            width: 400px;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #202224;
            box-shadow: $boxShadow;
            h4 {

                font-size: 30px;
                margin-bottom: 5px;
                text-align: center;
                font-family: $fuente;
            } 
            p{

                font-size: 18px;
                margin-bottom: 10px;
                text-align: center;
                font-family: $fuente;
            }
            input {

                height: 35px;
                width: 180px;
                border-radius: 10px;
                background-color: #558673;
                border-style: none;
                color: $colorFontAlt;
                &:hover{

                    background-color: #75af99;
                }
            }
        }
    }
}

@media (max-width: $movil) {

    .inicio {

        background-position: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px 250px;
        a{

            display: none;
        }
        h2 {

            font-size: 40px;
            margin-left: 15px;
            margin-right: 15px;
         }
     
    }

    .productos{

        &__destacados{

         display: flex;
         flex-direction: column;
         align-items: center;
         &__style {

             width: 350px;
             height: 500px;
             display: flex;
             flex-direction: column;
             align-items: center;
            }
        }
        img {

            width: 350px;
            height: 310px;
            border-radius: 5px;
        }
    }
}

@media (min-width: 481px ) and (max-width:$tablet) {
    .inicio {

        background-position: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 260px 260px 260px;
        align-items: center;
        a{

            display: none;
        }
        h2 {

            font-size:35px;
         }
     
    }

    .productos{

        &__destacados{

         display: flex;
         flex-direction: column;
         align-items: center;
         &__style {

             display: flex;
             flex-direction: column;
             align-items: center;
            }
        }
        img {

            border-radius: 5px;
        }
    }
}