.inicio{

    background-image: url(../img/fondoIndex.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    &__texto{

        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        h2{

            color: $colorFontAlt;
            text-align: center;
            font-family: $fuente;
            font-size: 4.6rem;
            font-weight: 700;
            background-color: #2022240f;

        }
        a{

            color: $colorFontAlt;
            width: 400px;
            text-align: center;
            font-size: 3rem;
            text-decoration: none;
            font-family: $fuente;
            font-weight: 700;
            border-style: solid;
            border-width: 0.5px;
            border-radius: 7px;
            background-color: #2022240f;
            &:hover {

                background-color: $colorFontAlt;
                color:$colorFont;
                border-color: $colorFontAlt;
                opacity: 85%;
            }
        }



    }
    &__flecha{

        grid-row: 3/4;
        grid-column: 2/3;
        backdrop-filter: blur(2.5px);
        background-color: #3bd9fd18;
        width: 60px;
        height: 60px;
        border-radius: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50%;
        img{

            height: 30px;
            width: 30px;
        
        }
        &:hover{

            backdrop-filter: blur(4px);
        }
        
    }
   
}

.productos{

    background-color: $colorBG;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 550px;
    &__titulo {
        h3{

            position: relative;
            text-align: center;
            font-size: 5rem;
            color: $colorFont;
            font-family: $fuente;
            font-weight: 700;
            padding-top: 10px;
        }

    }
    img {
    
        width: 320px;
        height: 310px;
    }
    &__destacados{

        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        &__style{

            background-color: $colorFont;
            border-radius: 7px;
            width: 400px;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #202224;
            box-shadow: $boxShadow;
            h4 {

                font-size: 3rem;
                margin-bottom: 5px;
                text-align: center;
                font-family: $fuente;
                color: $colorFontAlt;
            } 
            p{

                font-size: 1.8rem;
                margin-bottom: 20px;
                text-align: center;
                font-family: $fuente;
                color: $colorFontAlt;
            }
            input {

                height: 35px;
                width: 180px;
                border-radius: 10px;
                background-color: #839973;
                border-style: none;
                color: $colorFontAlt;
                font-weight: 700;
                font-size: 1.3rem;
                &:hover{

                    background-color: #a1bc8f;
                }
            }
        }
    }
}

@media (max-width: $movil) {

    .inicio {

        background-position: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px 250px;
        a{

            display: none;
        }
        h2 {

            font-size: 40px;
            margin-left: 15px;
            margin-right: 15px;
         }
        &__flecha{

            display: none;
        }
     
    }

    .productos{

        display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto 1100px;
        &__destacados{

            display: flex;
            flex-direction: column;

         &__style {
             width: 300px;
             height: 300px;
             display: flex;
             flex-direction: column;
             align-items: center;
             h4{

                font-size: 2rem;
             }
             p{

                font-size: 1.2rem;
             }


            }
        }
        img {

            width: 180px;
            height: 180px;
            border-radius: 5px;
        }
    }
}

@media (min-width: 481px ) and (max-width:$tablet) {
    .inicio {

        background-position: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 260px 260px 260px;
        align-items: center;
        a{

            display: none;
        }
        h2 {

            font-size:3.5rem;
         }
        &__flecha{

            display: none;
        }
     
    }

   .productos{

        display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto 1500px;
        &__destacados{

            display: flex;
            flex-direction: column;

         &__style {
             width: 500px;
             height: 450px;
             display: flex;
             flex-direction: column;
             align-items: center;
            }
        }
        img {

            width: 280px;
            height: 280px;
            border-radius: 5px;
        }
        input {

                height: 35px;
                width: 250px;
                font-size: 2rem;
               
            }
    }
}