.quienesSomos {

    background-image: radial-gradient(ellipse 500px 250px, #2a2a2a, #202020 );
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    &__info{

        display: flex;
        align-items: center;
        flex-direction: column;

        h2{

            font-family: $fuente;
            color: $colorFontAlt;
            font-weight: 700;
            padding-top: 30px;
            padding-bottom: 3px;
            font-size: 4rem;
            text-align: center;
        }
        p{

            font-family: $fuente;
            color: $colorFontAlt;
            font-size: 2rem;
            text-align: center;
            padding-left: 75px;
            padding-right: 75px;
        }
        a{

            text-decoration: none;
            font-size: 3rem;
            color: $colorFontAlt;
            font-family: $fuente;
            font-weight: 700;
            margin-top: 40px;
            background-image: radial-gradient(circle, #2999ad, #41e975 );
            text-align: center;
            border-radius: 3px;
            height: 50px;
            width: 420px;
            box-shadow:0px 0px 5px 1px #41e975;
            &:hover{

                color: #d3e6a2;
            }
        }
    }
    &__img{

        display: flex;
        justify-content: flex-end;

    }
}

.clientes {

    margin: 35px;
    h2{

        text-align: center;
        font-size: 5rem;
        font-weight: bold;
        padding-bottom: 5px;
    }
    &__info{

        background-image: radial-gradient(ellipse 700px 350px, #2a2a2a, #202020 );
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        border-radius: 5px;
        padding-bottom: 50px;
        &__style{
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-right: 2%;
            img{

                height: 400px;
                width: 400px;
                border-radius: 1px;
            }
            h3 {

                font-size: 3rem;
                font-weight: 500;
                color: $colorFontAlt;
                padding-right: 12%;
                padding-bottom: 4px;
                font-family: $fuente;
            }
            
        }
        &__frame{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 2.4% ;
            h3{

                font-size: 3rem;
                font-weight: 500;
                color: #efe9e1;
                padding-left: 12%;
                padding-bottom: 4px;
                font-family: $fuente;
            }
        }

    }
    
}

@media(max-width: $movil) {

    .quienesSomos {

     display: grid;
     grid-template-columns: 1fr;
        &__img{

            display: none;
        }
        &__info{

            h2{

                font-size: 3rem;
                padding-top: 15px;
            }
            p{

                font-size: 1.8rem;
                padding-left: 30px;
                padding-right: 30px;
            }
            a{

                display: none;
            }
        }
    }
    
    .clientes {

        &__info{

         display: grid;
         grid-template-columns:auto;
         grid-template-rows: 1fr 1fr;
         &__style{

            align-items: center;
            justify-content: center;
            padding-right: 0;
            margin-right: 0;
            border-right-style: none;
            img{

                height: 220px;
                width: 220px;
               

            }
            h3 {

                padding-right: 0;
                padding-bottom: 3px;
            }

          }
          &__frame{

            align-items: center;
            padding-left: 0;
            border-left-style: none;
            iframe{

                height: 220px;
                width: 220px;
            }
            h3{

                padding-bottom: 3px;
            }
          }
        }
    } 

}

@media (min-width: 481px ) and (max-width:$tablet) {

    .quienesSomos {

        display: grid;
        grid-template-columns: 1fr;
           &__img{
   
               display: none;
           }
           &__info{
               a{
                margin-bottom: 25px;
               }
           }
        }
    

    .clientes {

        &__info{

         display: grid;
         grid-template-columns: auto;
         grid-template-rows: 1fr 1fr;
         justify-items: center;
         align-items: center;
         &__style{

            padding-right: 0%;
            border-right-style: none;
            align-items: center;
            justify-content: center;
            img{

                height: 400px;
                width: 400px;
            }
            h3 {

                padding-right: 0;
                padding-bottom: 3px;
            }

          }
          &__frame{

            align-items: center;
            padding-left: 0;
            border-left-style: none;
            iframe{

                height: 400px;
                width: 400px;
            }
            h3{

                padding-left: 0;
                padding-bottom: 3px;
            }
          }  
        }
    }
}