.sub {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 700px;
    background-image: url(../img/fondoSuscripciones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &__texto{

        grid-template-rows: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{

            font-size: 4rem;
            font-weight: 700;
            font-family: $fuente;
            color: $colorFontAlt;
        }
        p{

            font-size: 2rem;
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
            font-family: $fuente;
            color: $colorFontAlt;
            text-align: center;
        }
    }
    &__planes{

        display: flex;
        gap:50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        &__style{

            background-color: $colorBG;
            border-radius: 5px;
            height: 450px;
            width: 350px;
            box-shadow: $boxShadow;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {

                font-size: 3rem;
                font-weight: 700;
                margin-top: 5px;
                font-family: $fuente;
            }
            ul{
                li{
                    font-size: 2rem;
                    font-family: $fuente;

                }
            }
            p{

                font-size: 3rem;
                font-weight: 700;
                text-align: center;
                margin-top: 20%;
                font-family: $fuente;
            }
            input{

                border-radius: 5px;
                background-color: #558673;
                height: 35px;
                width: 120px;
                border-style: none;
                margin-top: 5px;
                font-size: 17px;
                &:hover{

                    background-color: #6eba9d;
                    box-shadow: 3px 3px 12px 0 #6eba9d;
                }
            }
            
        }
    }
}

@media (max-width:$movil){

    .sub {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1500px;
        &__texto {

            p{

                margin-bottom: 12px;
            }
            
        }
        &__planes{

            display: flex;
            gap:40px;
            flex-direction: column;
            align-items: center;
            &__style{

                height: 450px;
                width: 350px;
            }
        }
    }
}

@media (min-width: 481px ) and (max-width:$tablet) {

    .sub {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1500px;
        &__texto {

            p{

                margin-bottom: 12px;
            }
            
        }
        &__planes{

            display: flex;
            gap:40px;
            flex-direction: column;
            align-items: center;
            &__style{

                height: 450px;
                width: 350px;
            }
        }
    }
}